# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# CSV / data lokal
*.xlsx

# OS-specific
.DS_Store
Thumbs.db

# VS Code settings
.vscode/